@using MyAppDevextremeAspCoreProject.Models
<h2>Employee</h2>
@(
Html.DevExtreme().DataGrid<Employee>()
                            .ShowBorders(true)
                            .DataSource(d => d.Mvc()
                            .Controller("Employee")
                            .LoadAction("GetEmployees")
                            .InsertAction("InsertEmployee")
                            .UpdateAction("UpdateEmployee")
                            .DeleteAction("DeleteEmployee")
                            .Key("Id"))
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.Id).Caption("Id").FormItem(x => x.Visible(false));
                                columns.AddFor(m => m.Name).Caption("Имя");
                                columns.AddFor(m => m.Surname).Caption("Фамилия");
                                columns.AddFor(m => m.Patronymic).Caption("Отчество");
                                columns.AddFor(m => m.BirthDate).Caption("Дата рождения");
                                columns.AddFor(m => m.Phone).Caption("Номер телефона").FormItem(x => x.Editor(y => y.TextBox().Mask(@"0 (000) 000-0000").MaskRules(new { X = new JS("/[02-9]/") })));
                                columns.AddFor(m => m.GuidFilials).DataField("GuidFilials").Caption("Филилалы").Lookup(lookup => lookup
                                .DataSource(d => d.Mvc().Controller("Filial").LoadAction("GetFilialLookup").Key("Id")).DataSourceOptions(x => x.Paginate(true))
                                .ValueExpr("Id")
                                .DisplayExpr("Name"))
                                .EditCellTemplate(new TemplateName("TagBoxTemplate"))
                                .CalculateDisplayValue("FilialsName")
                                .AllowFiltering(false)
                                .AllowSorting(false);
                                columns.AddFor(m => m.GuidServices).DataField("GuidServices").Caption("Сервисы").Lookup(lookup => lookup
                                .DataSource(d => d.Mvc().Controller("Service").LoadAction("GetServicesLookup").Key("Id")).DataSourceOptions(x => x.Paginate(true))
                                .ValueExpr("Id")
                                .DisplayExpr("Name"))
                                .EditCellTemplate(new TemplateName("TagBoxTemplate2"))
                                .CalculateDisplayValue("ServicesName")
                                .AllowFiltering(false)
                                .AllowSorting(false);
                                columns.AddFor(m => m.CreatedDate).SortOrder(SortOrder.Desc).Caption("Дата создания").FormItem(x => x.Visible(false));
                            })
                            .Export(x => x.Enabled(true))
                            .OnExporting("exporting")
   .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Editing(e => e.AllowAdding(true).AllowDeleting(true).AllowUpdating(true).Mode(GridEditMode.Form))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
    .TotalItems(totalItems =>
    {
        totalItems.AddFor(m => m.Id).SummaryType(SummaryType.Count);
    })
    )
    )

@using (Html.DevExtreme().NamedTemplate("TagBoxTemplate"))
{
    @(Html.DevExtreme().TagBox().DataSource(d => d.Mvc().Controller("Filial").LoadAction("GetFilialLookup").Key("Id"))
            .DataSourceOptions(x => x.Paginate(true).PageSize(30))
            .Value(new JS("value"))
            .ValueExpr("Id")
            .DisplayExpr("Name")
            .ShowSelectionControls(true)
            .MaxDisplayedTags(5)
            .ShowMultiTagOnly(false)
            .ApplyValueMode(EditorApplyValueMode.UseButtons)
            .SearchEnabled(true)
            .OnValueChanged("function(e) { setValue(e.value); }")
            .OnSelectionChanged("function(e) { component.updateDimensions(); }")
            )
}

@using (Html.DevExtreme().NamedTemplate("TagBoxTemplate2"))
{
    @(Html.DevExtreme().TagBox().DataSource(d => d.Mvc().Controller("Service").LoadAction("GetServicesLookup").Key("Id"))
                .DataSourceOptions(x => x.Paginate(true).PageSize(30))
                .Value(new JS("value"))
                .ValueExpr("Id")
                .DisplayExpr("Name")
                .ShowSelectionControls(true)
                .MaxDisplayedTags(5)
                .ShowMultiTagOnly(false)
                .ApplyValueMode(EditorApplyValueMode.UseButtons)
                .SearchEnabled(true)
                .OnValueChanged("function(e) { setValue(e.value); }")
                .OnSelectionChanged("function(e) { component.updateDimensions(); }")
                )
}
