<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ars_Nikon">
    <meta name="author" content="Ars_Nikon">

    <title>MyAppDevextremeAspCoreProject</title>

    <link rel="dx-theme" data-theme="material.blue.light" href="~/css/devextreme/dx.material.blue.light.css">
    <link rel="stylesheet" href="~/css/Site.css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/all.js" crossorigin="anonymous"></script>
    <script src="~/js/devextreme/localization/dx.messages.ru.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3">Ars_Nikon</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <div class="ms-auto">
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                        @User?.Identity?.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="home">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-action="index" asp-controller="Organization">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-sitemap"></i></div>
                            Организации
                        </a>
                        <a class="nav-link" asp-action="index" asp-controller="Filial">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                            Филилалы
                        </a>
                        <a class="nav-link" asp-action="index" asp-controller="Service">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-scissors"></i></div>
                            Услуги
                        </a>
                        <a class="nav-link" asp-action="index" asp-controller="Employee">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-person"></i></div>
                            Сотрудники
                        </a>
                        <a class="nav-link" asp-action="index" asp-controller="Client">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                            Клиенты
                        </a>
                        <a class="nav-link" asp-action="index" asp-controller="Schedule">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-calendar"></i></div>
                            Создание расписания
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    Ars_Nikon
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="text-muted">My first Devextreme application</div>
                        <div>
                            <a href="https://github.com/Ars-Nikon"><i class="fa-brands fa-github"></i></a>
                            &middot;
                            <a href="https://t.me/Ars_Nikon"><i class="fa-brands fa-telegram"></i></a>
                            &middot;
                            <a href="https://vk.com/ars_nikon"><i class="fa-brands fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/sidebarToggle.js"></script>
    <script src="~/js/polyfill.min.js"></script>
    <script src="~/js/exceljs.min.js"></script>
    <script src="~/js/FileSaver.min.js"></script>
    <script src="~/js/OnExport.js"></script>
    <script>
        DevExpress.localization.locale("ru");
    </script>
</body>
</html>
