@using MyAppDevextremeAspCoreProject.Models
<h2>Schedule</h2>

<div class="row">
    <div class="col-6">
        <label>Специалист</label>
        <div>
            @(
                Html
                .DevExtreme()
                .SelectBox()
                .ID("EmployeesSelectBox")
                .DataSource(x => x.Mvc().Controller("Employee").Key("Id").LoadAction("EmployeesSelectBox")).DataSourceOptions(x => x.Paginate(true).PageSize(20))
                .ValueExpr("Id")
                .DisplayExpr("FIO")
                .OnValueChanged("EmployeesSelectionChanged")
                .SearchEnabled(true)
                )
        </div>
    </div>
    <div class="col-6">
        <label>Филиал</label>
        <div>
            @(
                Html
                .DevExtreme()
                .SelectBox()
                .ID("FilialsSelectBox")
                .DataSource(x => x.Mvc().Controller("Schedule").Key("Id").LoadAction("FilialsSelectBoxByEmployee").OnBeforeSend("FilialsOnBeforeSend")).DataSourceOptions(x => x.Paginate(true))
                .ValueExpr("Id")
                .DisplayExpr("Name")
                .OnValueChanged("FilialsSelectionChanged")
                .SearchEnabled(true)
                .Disabled(true)
                )
        </div>
    </div>
</div>

<div class="mt-5">

    <div class="row">
        <div class="col-6">
            @(
                Html.DevExtreme()
                .Scheduler()
                .Visible(false)
                .ID("IdTimeTable")
                .DataSource(d => d.Mvc()
                .OnBeforeSend("ScheduleOnBeforeSend")
                .Controller("Schedule")
                .Key("IdTimeTable")
                .LoadAction("Get"))
                .RemoteFiltering(true)
                .StartDateExpr("StartTime")
                .ShowCurrentTimeIndicator(false)
                .EndDateExpr("EndTime")
                .Views(new[] { SchedulerViewType.Month })
                .CurrentView(SchedulerViewType.Month)
                .CurrentDate(DateTime.UtcNow.AddHours(3))
                .TextExpr("Text")
                .Height(900)
                .Editing(x => x.AllowAdding(false).AllowDragging(false).AllowDeleting(false).AllowResizing(false).AllowUpdating(false)).OnAppointmentFormOpening("CancelForm")
                )
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<script>
    function CancelForm(e) {
        e.cancel = true;
    }
</script>

<script src="~/js/Schedule.js"></script>